# ignore all but allows all directories except /target
*
!*/
/target

# rust files
!/crates/**/*.rs
!/crates/**/Cargo.*

# other files
!/.github/**/*.yml
!/.github/**/*.json
!/docs/**/*.md
!/configs/**/*.toml
!/configs/**/*.ron
!/tools/**/*.sh

# desk-x
!/crates/apps/desk-x/public/index.html

# top level files
!/.gitattributes
!/README.md
!/LICENSE.md
!/docs/LICENSE-*

# global allow
!.gitignore
