# ignore all but allows all directories
*
!*/

# ignore directories
/target
/node_modules

# rust files
!/crates/**/*.rs
!/crates/**/Cargo.*

# other files
!/.github/**/*.yml
!/.github/**/*.json
!/docs/**/*.md
!/configs/**/*.toml
!/configs/**/*.ron
!/tools/**/*.sh
!/assets/fonts/*.ttf
!/assets/fonts/*.otf
!/assets/**/*license*


# desk-x
!/crates/apps/desk-x/public/index.html

# specific files
!/.gitattributes
!/README.md
!/LICENSE.md
!/docs/LICENSE-*
!/configs/crates.txt

# global allow
!.gitignore
