# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

!package.json
!package-lock.json
!tsconfig.dev.json
!tsconfig.json
!eslintrc.js
