(
    hovered: (
        background: Rgba(
            red: 1,
            green: 1,
            blue: 1,
            alpha: 1,
        ),
        border: (
            color: Rgba(
                red: 1,
                green: 1,
                blue: 1,
                alpha: 1,
            ),
            size: 2,
        ),
        stroke: (
            color: Rgba(
                red: 0,
                green: 0,
                blue: 0,
                alpha: 1,
            ),
            size: 1,
        ),
    ),
    open: (
        background: Rgba(
            red: 1,
            green: 1,
            blue: 1,
            alpha: 1,
        ),
        border: (
            color: Rgba(
                red: 1,
                green: 1,
                blue: 1,
                alpha: 1,
            ),
            size: 1,
        ),
        stroke: (
            color: Rgba(
                red: 1,
                green: 1,
                blue: 1,
                alpha: 1,
            ),
            size: 1,
        ),
    ),
    noninteractive: (
        background: Rgba(
            red: 0.68696123,
            green: 0.68696123,
            blue: 0.68696123,
            alpha: 1,
        ),
        border: (
            color: Rgba(
                red: 0.3433844,
                green: 0.3433844,
                blue: 0.3433844,
                alpha: 1,
            ),
            size: 2,
        ),
        stroke: (
            color: Rgba(
                red: 0,
                green: 0,
                blue: 0,
                alpha: 1,
            ),
            size: 2.1,
        ),
    ),
    inactive: (
        background: Rgba(
            red: 1,
            green: 1,
            blue: 1,
            alpha: 1,
        ),
        border: (
            color: Rgba(
                red: 0.57931143,
                green: 0.57931143,
                blue: 0.57931143,
                alpha: 1,
            ),
            size: 1,
        ),
        stroke: (
            color: Rgba(
                red: 0,
                green: 0,
                blue: 0,
                alpha: 1,
            ),
            size: 1,
        ),
    ),
    active: (
        background: Rgba(
            red: 1,
            green: 1,
            blue: 1,
            alpha: 1,
        ),
        border: (
            color: Rgba(
                red: 1,
                green: 1,
                blue: 1,
                alpha: 1,
            ),
            size: 1,
        ),
        stroke: (
            color: Rgba(
                red: 0,
                green: 0,
                blue: 0,
                alpha: 1,
            ),
            size: 1,
        ),
    ),
    window_corner_radius: 3,
    window_shadow: (
        color: Rgba(
            red: 0.76763356,
            green: 0.4794699,
            blue: 0.85866624,
            alpha: 1,
        ),
        extrusion: 6,
    ),
    extreme_background: Rgba(
        red: 0.9372549,
        green: 0.9372549,
        blue: 0.9372549,
        alpha: 1,
    ),
)