(
    hovered: (
        background: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        border: (
            color: Rgba(
                red: 1.0,
                green: 1.0,
                blue: 1.0,
                alpha: 1.0,
            ),
            size: 2.0,
        ),
        stroke: (
            color: Rgba(
                red: 0.0,
                green: 0.0,
                blue: 0.0,
                alpha: 1.0,
            ),
            size: 1.0,
        ),
    ),
    open: (
        background: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        border: (
            color: Rgba(
                red: 1.0,
                green: 1.0,
                blue: 1.0,
                alpha: 1.0,
            ),
            size: 1.0,
        ),
        stroke: (
            color: Rgba(
                red: 1.0,
                green: 1.0,
                blue: 1.0,
                alpha: 1.0,
            ),
            size: 1.0,
        ),
    ),
    noninteractive: (
        background: Rgba(
            red: 0.6862745,
            green: 0.6862745,
            blue: 0.6862745,
            alpha: 1.0,
        ),
        border: (
            color: Rgba(
                red: 0.34117648,
                green: 0.34117648,
                blue: 0.34117648,
                alpha: 1.0,
            ),
            size: 2.0,
        ),
        stroke: (
            color: Rgba(
                red: 0.0,
                green: 0.0,
                blue: 0.0,
                alpha: 1.0,
            ),
            size: 2.1,
        ),
    ),
    inactive: (
        background: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        border: (
            color: Rgba(
                red: 0.5764706,
                green: 0.5764706,
                blue: 0.5764706,
                alpha: 1.0,
            ),
            size: 1.0,
        ),
        stroke: (
            color: Rgba(
                red: 0.0,
                green: 0.0,
                blue: 0.0,
                alpha: 1.0,
            ),
            size: 1.0,
        ),
    ),
    active: (
        background: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        border: (
            color: Rgba(
                red: 1.0,
                green: 1.0,
                blue: 1.0,
                alpha: 1.0,
            ),
            size: 1.0,
        ),
        stroke: (
            color: Rgba(
                red: 0.0,
                green: 0.0,
                blue: 0.0,
                alpha: 1.0,
            ),
            size: 1.0,
        ),
    ),
    window_background: Rgba(
        red: 0.9372549,
        green: 0.9372549,
        blue: 0.9372549,
        alpha: 1.0,
    ),
    window_corner_radius: 3.0,
    window_shadow: (
        color: Rgba(
            red: 0.7647059,
            green: 0.47843137,
            blue: 0.85490197,
            alpha: 1.0,
        ),
        extrusion: 6.0,
    ),
    extreme_background: Rgba(
        red: 0.9372549,
        green: 0.9372549,
        blue: 0.9372549,
        alpha: 1.0,
    ),
    background: Rgba(
        red: 0.0,
        green: 0.5,
        blue: 0.5,
        alpha: 1.0,
    ),
)